In [16]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory



dftrain = pd.read_csv("train_modified.csv")
dftest = pd.read_csv("test_modified.csv")

In [17]:
combined = pd.concat([dftrain,dftest])
combined.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Item_Fat_Content_0,Item_Fat_Content_1,Item_Fat_Content_2,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type_Combined_0,Item_Type_Combined_1,Item_Type_Combined_2,Item_Visibility,...,Outlet_Location_Type_1,Outlet_Location_Type_2,Outlet_Size_0,Outlet_Size_1,Outlet_Size_2,Outlet_Type_0,Outlet_Type_1,Outlet_Type_2,Outlet_Type_3,Outlet_Years
0,1,0,0,FDA15,249.8092,3735.1380,0,1,0,0.016047,...,0,0,0,1,0,0,1,0,0,14
1,0,0,1,DRC01,48.2692,443.4228,1,0,0,0.019278,...,0,1,0,1,0,0,0,1,0,4
2,1,0,0,FDN15,141.6180,2097.2700,0,1,0,0.016760,...,0,0,0,1,0,0,1,0,0,14
3,0,0,1,FDX07,182.0950,732.3800,0,1,0,0.065953,...,0,1,0,1,0,1,0,0,0,15
4,0,1,0,NCD19,53.8614,994.7052,0,0,1,0.065953,...,0,1,1,0,0,0,1,0,0,26

In [3]:
combined["Item_Weight"].fillna(combined["Item_Weight"].mean(),inplace = True)
combined["Item_Outlet_Sales"].fillna(combined["Item_Outlet_Sales"].mean(),inplace = True)
print(combined["Item_Outlet_Sales"].isnull().sum())
print(combined["Item_Outlet_Sales"].isnull().sum())

0
0

In [5]:
from sklearn.preprocessing import LabelEncoder
cols = ("Item_Fat_Content", "Item_Identifier","Outlet_Identifier","Outlet_Location_Type","Outlet_Size", "Outlet_Type", "Item_Type"  )
for c in cols:
    label = LabelEncoder()
    label.fit(list(combined[c].values))
    combined[c] = label.transform(list(combined[c].values))

In [6]:
combined.head()

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type
0,1,156,249.8092,3735.1380,4,0.016047,9.30,1999,9,0,1,1
1,2,8,48.2692,443.4228,14,0.019278,5.92,2009,3,2,1,2
2,1,662,141.6180,2097.2700,10,0.016760,17.50,1999,9,0,1,1
3,2,1121,182.0950,732.3800,6,0.000000,19.20,1998,0,2,3,0
4,1,1297,53.8614,994.7052,9,0.000000,8.93,1987,1,2,0,1

In [18]:
train_ID = dftrain["Item_Identifier"]
test_ID = dftest["Item_Identifier"]

In [19]:
combined = combined.drop("Item_Identifier",axis =1)

In [20]:
nrow_train = dftrain.shape[0]
X_train = combined[:nrow_train]
X_test = combined[nrow_train:]

In [21]:
Y = dftrain["Item_MRP"]
combined = combined.drop("Item_MRP",axis = 1)

In [22]:
combined.dtypes

Item_Fat_Content_0          int64
Item_Fat_Content_1          int64
Item_Fat_Content_2          int64
Item_Outlet_Sales         float64
Item_Type_Combined_0        int64
Item_Type_Combined_1        int64
Item_Type_Combined_2        int64
Item_Visibility           float64
Item_Weight               float64
Outlet_0                    int64
Outlet_1                    int64
Outlet_2                    int64
Outlet_3                    int64
Outlet_4                    int64
Outlet_5                    int64
Outlet_6                    int64
Outlet_7                    int64
Outlet_8                    int64
Outlet_9                    int64
Outlet_Identifier          object
Outlet_Location_Type_0      int64
Outlet_Location_Type_1      int64
Outlet_Location_Type_2      int64
Outlet_Size_0               int64
Outlet_Size_1               int64
Outlet_Size_2               int64
Outlet_Type_0               int64
Outlet_Type_1               int64
Outlet_Type_2               int64
Outlet_Type_3               int64
Outlet_Years                int64
dtype: object

In [23]:
from sklearn.model_selection import KFold, cross_val_score, train_test_split
t_X, val_X, t_y, val_y = train_test_split(X_train,Y, test_size=0.25)
from xgboost import XGBRegressor

my_model = XGBRegressor(n_estimators=1000, learning_rate=0.05)
my_model.fit(t_X,t_y)
predictions = my_model.predict(val_X)

from sklearn.metrics import mean_absolute_error
print("Mean Absolute Error : " + str(mean_absolute_error(val_y,predictions)))

ValueError: DataFrame.dtypes for data must be int, float or bool.
                Did not expect the data types in fields Outlet_Identifier

In [13]:
predictions = my_model.predict(X_test)

In [14]:
my_submission = pd.DataFrame({'Id': test_ID, 'SalePrice': predictions})
# you could use any filename. We choose submission here
my_submission.to_csv('submission-3.csv', index=False)

In [15]:
my_submission

         Id   SalePrice
0     FDW58  107.576225
1     FDW14   87.069656
2     NCN55  241.975769
3     FDQ58  155.042953
4     FDY38  234.134033
5     FDH56  117.429596
6     FDL48   50.011612
7     FDC48   80.727707
8     FDN33   95.817223
9     FDA36  186.757599
10    FDT44  118.469376
11    FDQ56   85.289360
12    NCC54  240.320724
13    FDU11  122.469193
14    DRL59   52.128895
15    FDM24  151.618835
16    FDI57  198.705963
17    DRC12  191.894211
18    NCM42  109.620636
19    FDA46  193.852631
20    FDA31  175.089325
21    NCJ31  239.972336
22    FDG52   47.966320
23    NCL19  142.238358
24    FDS10  180.412033
25    FDX22  209.237488
26    NCF19   47.394981
27    NCE06  161.426346
28    DRC27  244.903915
29    FDE21  116.410477
...     ...         ...
5651  FDD23  186.348038
5652  FDP32  126.744286
5653  FDO31   80.636971
5654  FDQ57  144.910751
5655  FDX32  143.558640
5656  FDC39  207.737854
5657  FDU55  261.288055
5658  FDL45  123.774651
5659  DRK37  188.821167
5660  FDK22  215.413910
5661  DRG37  155.948685
5662  FDK22  214.200455
5663  DRH36   72.964211
5664  DRC36  173.468445
5665  DRE03   45.959805
5666  FDF34  196.986954
5667  FDZ22   81.842842
5668  FDC44  115.212479
5669  FDN31  187.988968
5670  FDO03  229.016403
5671  FDA01   59.309143
5672  NCH42  231.580475
5673  FDF46  116.231903
5674  DRL35   43.096214
5675  FDW46   63.252254
5676  FDB58  140.753769
5677  FDD47  169.677200
5678  NCO17  118.544334
5679  FDJ26  214.194153
5680  FDU37   79.543617

[5681 rows x 2 columns]